body {
  background-image: url("https://i.imgpile.com/494d46171e760eca73ecfe310277278c.jpg");
  max-width: 100%;
background-size: cover;
background-repeat: no-repeat;
}

.avatar{
  width: 90px;
  justify-content: right;
}

.ilb {
  display: inline-block;
}

.il {
  display: inline;
}

.logo {
  display: inline-block;
}

.p-t-10 {
  padding-bottom: 25px;
}

h4 {
  display: inline;
  clear: none;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-10 {
  padding-left: 10px;
}

.trash-star {
  font-size: 2rem;
}

.spacer {
  margin-bottom: px;
}

.outline {
  outline: 2px, solid, red;
}

.vote-counts {
  float: right;
}

.vote-size {
  font-size: 5rem;
}

.first {
  font-family: 'Permanent Marker', cursive;
}
